*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

#gridparent{
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-rows: 60px 800px 500px 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he na na na"
    "se se se se se"
    "ar ar ar ar ar"
    "fo fo fo fo fo";
}
header{
    background-color: rgb(83, 80, 80);
    grid-area: he;
    height:60px;
    width: 100vw;
}
nav{
    background-color: rgb(83, 80, 80);
    grid-area: na;
    height: 60px;
    right: 0;
}
article{background-color:  rgb(83, 80, 80);grid-area: ar;}
footer {background-color: blanchedalmond;grid-area: fo;}
section{background-color: burlywood;grid-area: se;}

.sticky{
    position: fixed;
    top: 0;
    z-index: 10;
        box-shadow: 0px 10px 10px -10px black;
}



/* Article text and flexparent*/

.flexarticle{
    display: flex;
    align-items: center;
    box-shadow: -15px 10px 10px -10px black;

}

#articletxt{
    width: 65vw;
    background-color: rgb(236, 231, 223);
    box-shadow: -15px -10px 10px -10px black;
    margin-left: 70px;
    padding: 10px;
    height: 400px;
    overflow:auto;

}

.Rubrik{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 32px;
}

.brödtext{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Listan header*/

.ListHeader{
    list-style-type: none;
    margin: 0;
    padding: 0;  
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ListItem{
    display: block;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
}

.ListItem:hover{
    background-color: grey;

}

.LinkText{
    color: darkgrey;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* text på bild */
.container_img_txt {
    position: relative;
    text-align: center;
    background-color: blue;
  }

  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #welcometext{
      font-family: 'Courier New', Courier, monospace;
      font-size: 42px;
  }

/* Bild resizing samt shadow */

#articleimage{
    height: 400px;
    width: 25vw;
    margin-left: 50px;
    box-shadow: -15px -10px 10px -10px black;
}

.bigsectionimage{
    width:100vw;
    height:800px;
}

.bigsectionimage{
    box-shadow:-15px 10px 10px -10px black;
}
