*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

#gridparent{
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-rows: 60px 800px 500px 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he na na na"
    "se se se se se"
    "ar ar ar ar ar"
    "fo fo fo fo fo";
}
header{
    background-color: rgb(83, 80, 80);
    grid-area: he;
    height:60px;
    width: 100vw;
}
nav{
    background-color: rgb(83, 80, 80);
    grid-area: na;
    height: 60px;
    right: 0;

}
article {
    background-color:  rgb(83, 80, 80);
    grid-area: ar;
width: 100vw;
}

#gridparent3{
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-rows: 60px 800px 325px 800px 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he na na na"
    "se se se se se"
    "s2 s2 s2 s2 s2"
    "s3 s3 s3 s3 s3"
    "fo fo fo fo fo";
}
#section2{
 background-color: rgb(83, 80, 80);
 grid-area: s2;   
 display: flex;
 align-items: center;
 justify-content: center;
}

#section3{
    background-color: blue;
    grid-area: s3;
}

#referencetxt{
    width: 80vw;
    height: 200px;
    background-color: rgb(236, 231, 223);
    box-shadow: 0 4px 12px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

#loremTxt{
    font-style: italic;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;

}


body {
    overflow-x: hidden; 
  }
footer {
    background-color:rgb(236, 231, 223);
    grid-area: fo;
    }

.container_img_txt{background-color: burlywood;grid-area: se;}

.sticky{
    position: fixed;
    top: 0;
    z-index: 9;
        box-shadow: 0px 10px 10px -10px black;

}

#gridparent5{
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-rows: 60px 800px 600px  480px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he na na na"
    "se se se se se"
    "ma ma ma ma ma"
    "fo fo fo fo fo";
}

#mapMain{
    grid-area: ma;
    background-color: rgb(83, 80, 80);
}

/* LOGOSTYLING */
#logotext{
    margin-top: 10px;
    margin-left: 5px;
    color: darkgrey;

}



/* Footer text and flexparent*/
.flexfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}

#middle{
    display: flex;
    align-self: center;
    justify-content: center;
}

#interactiveMap{
    display: flex;
    flex-direction: column;
    align-self: top;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    

    
    
}

.flexalignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   
}

/* Article text and flexparent*/

.flexarticle{
    display: flex;
    align-items: center;
    box-shadow: -15px 10px 10px -10px black;

}

#articletxt{
    width: 65vw;
    background-color: rgb(236, 231, 223);
    box-shadow: -15px -10px 10px -10px black;
    margin-left: 70px;
    margin-right: 70px;
    padding: 10px;
    height: 400px;
    overflow:auto;


}

.Rubrik{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 32px;
}

.brödtext{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bellowMap{
    color: rgb(236, 231, 223);
    font-style: italic;

}

#bellowContact{
    font-style: italic;
    font-size: 14px;
}

/* Listan header*/

.ListHeader{
    list-style-type: none;
    margin: 0;
    padding: 0;  
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ListItem{
    display: block;
    text-align: center;
    padding: 18px 25px 3px;
    text-decoration: none;
    transition: 1s;

}

.ListItem:hover{
    text-decoration: underline darkgrey;
    text-underline-offset: 5px; /*denna funkar även fast det inte står det*/

}

.LinkText{
    color: darkgrey;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* text på bild */
.container_img_txt {
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #welcometext{
      font-family: 'Courier New', Courier, monospace;
      font-size: 42px;
      color: darkgrey;
      background-color: black;
      padding: 10px;
  }

/* Bild resizing */



#articleimage{
    height: 400px;
    width: 25vw;
    margin-left: 50px;
    box-shadow: -15px -10px 10px -10px black;
}

.bigsectionimage{
    width:100vw;
    height:800px;
}

.bigsectionimage{
    box-shadow:-15px 10px 10px -10px black;
}

/* mobile overwrite*/

@media screen and (max-width: 720px) {
    #gridparent{
        display: grid;
        height: 100vh;
        width: 100vw;
    
        grid-template-rows: 60px 800px 800px 180px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "na na na na na"
        "se se se se se"
        "ar ar ar ar ar"
        "fo fo fo fo fo";
    }
    header{
        display: none;
    }
    nav{
        width: 100vw;
    }
    .ListItem{
        width: 20vw;
    }
    .ListHeader{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        left: 0px;
        height: 90vh;
        top: -100vh;
        background-color: rgb(83, 80, 80);
        align-items: center;
        width: 20%;
        transition: all 1s;

    }

    .activemenu{
    transform: translateY(100vh) ;
    }

#articleimage{
    display: none;


}

#articletxt{
    width: 80vw;
    height: 600px;
}


.burgare{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 8%;
    padding-top: 13px;
}

.burgare div{
    width: 25px;
    height: 3px;
    background-color: darkgrey;
    margin: 3px;
    border-radius: 10%;
    transition: all 0.3s;
    z-index: 11;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-6px,-6px);
}


}



